# Visual Studio Code settings
.vscode/

# Latex Compilation
# Ignore any 'out' folder across the repo (e.g., tesis/out)
**/out/
latexmkrc
main.synctex.gz

# MacOS specific files
.DS_Store

# Python files
*.pyc
__pycache__/
.venv/

