# Visual Studio Code settings
.vscode/

# Ignore any 'out' folder across the repo (e.g., tesis/out)
**/out/
latexmkrc
main.synctex.gz

# MacOS specific files
.DS_Store

# Python files
*.pyc
__pycache__/
.venv/

# pdfs/
main.pdf

# LaTeX intermediate/build artifacts
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.lof
**/*.lot
**/*.lol
**/*.nav
**/*.out
**/*.run.xml
**/*.snm
**/*.synctex.gz
**/*.toc
**/*.vrb
**/*.idx
**/*.ilg
**/*.ind
**/*.ist
**/*.glg
**/*.glo
**/*.gls
**/*.acn
**/*.acr
**/*.alg
**/*.nlo
**/*.nls
**/*.maf
**/*.mtc*
**/*.pdfsync
**/*.thm
**/*.xdy
**/*.tdo
**/*.loe
**/*.brf
**/*Notes.bib

# latexindent temporary/backup files
**/__latexindent_temp_*
**/*.bak*
**/*.backup*